<% @articles.each do |article| %>
  <div class="row">
    <div class="col-sm-8 blog-main">
      <div class="blog-post">
        <h2 class="blog-post-title"><%= article.title %></h2>
        <%= article.text %>
        <%= link_to 'Show', article_path(article) %>
      </div>
    </div>
  </div>
<% end %>