<%= render 'article', :article => @article %>

<div class="well well-lg">
	<h4><%= @article.comments.empty? ? '' : 'Comments' %></h4>
	
	<%= render @article.comments %>

	<h4>Add a comment:</h4>
	<%= render 'comments/form' %>
</div>